.additional-marker {
  .cursor {
    border-left: solid white 3px;
    animation: blink 1s infinite;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
  }
  .nametag {
    background: black;
    left: 0;
    color: white;
    height: 100%;
    padding: 3px 5px;
    user-select: none;
    position: relative;
    opacity: 0;
    transition: opacity 0.25s;
    &.left {
      left: -100%
    }
    &.show {
      opacity: 1
    }
  }
  height: 100%;
  position: absolute;
  z-index: 0;
}

@keyframes blink {
  0% {
    opacity: 100%
  }

  49% {
    opacity: 100%
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}
